---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Base/Button.astro";
---

<MainLayout title="404 - Seite nicht gefunden">
  <main class="error-page-content" style="text-align: center; padding: 4rem;">
    <h1>404</h1>
    <h2>Seite nicht gefunden.</h2>
    <p>
      Entschuldigung, die von Ihnen gesuchte Seite existiert nicht oder wurde
      verschoben.
    </p>
    <Button class="button-element button-orange" href="/">
      Zur Startseite
    </Button>
  </main>
</MainLayout>

<style>
  main {
    background-color: var(--color-neutral-lightest);
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--spacing-lg);
  }
  .button-element {
    width: fit-content;
  }
</style>
