---
import PropertiesFilterSearch from "../../components/Sections/properties/PropertiesFilterSearch.astro";
import PropertiesGrid from "../../components/Sections/properties/PropertiesGrid.astro";
import PropertiesHero from "../../components/Sections/properties/PropertiesHero.astro";
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout>
  <PropertiesHero />

  <PropertiesFilterSearch />
  <div class="content-to-blur">
    <PropertiesGrid />
  </div>
</MainLayout>
