---
import SectionHeader from "../../Base/SectionHeader.astro";
import ServiceCard from "../../Cards/ServiceCard.astro";
---

<section id="about-history" class="history-section">
  <div class="site-container padding-section">
    <SectionHeader
      header="Gebaut auf Erfahrung"
      text="Viktoria Frohner Immobilien hat seine Wurzeln in zwei langjährig etablierten Hausverwaltungen. Aus dem Besten beider Welten haben wir etwas Neues geschaffen – modern, engagiert und mit einem starken Fundament."
      headerColor="var(--color-brand-medium-green)"
      textColor="var(--color-neutral-font-dark)"
    />

    <div class="card-wrapper">
      <ServiceCard
        title="HV Mag. Alexandra Richling"
        description="Unsere Immobilienverwaltung in Wien bietet Ihnen eine umfassende, zuverlässige Betreuung für Ihre Liegenschaften. Wir kümmern uns um alle administrativen Aufgaben – von der Instandhaltung bis hin zur effizienten Mieterbetreuung."
        cardBgColor="var(--color-neutral-light-grey)"
        cardFontColor="var(--color-neutral-font-dark)"
        cardBgHover="var(--color-brand-green)"
        cardFontHover="var(--color-neutral-white)"
        href="https://richling.at/"
        target="_blank"
      />
      <ServiceCard
        title="HV Hörtlehner"
        description="Die Hausverwaltung Hörtlehner wurde in den 60iger Jahren von Frau Ida Hörtlehner gegründet und nach ihrem Tod von ihrem Mann, Dr. Alexander Hörtlehner weitergeführt. 1992 erwarben Georg und Veronika Warhanek das Unternehmen und es wird seither als Ges.m.b.H. unter der Geschäftsführung von Frau Veronika Warhanek betrieben."
        cardBgColor="var(--color-neutral-light-grey)"
        cardFontColor="var(--color-neutral-font-dark)"
        cardBgHover="var(--color-brand-green)"
        cardFontHover="var(--color-neutral-white)"
        href="https://www.hoertlehner.at/"
        target="_blank"
      />
    </div>
  </div>
</section>

<style>
  .history-section {
    background-color: var(--color-neutral-lightest);
    position: relative;
    /* padding-bottom: calc(var(--spacing-4xl) + 15vw); */
    /* margin-bottom: calc(var(--spacing-4xl) + 15vw); editing out until Team section is added, and diagonal after can be readded */
    /* z-index: 100; */
  }
  /* ---------- DO NOT DELETE!! NEEDED WHEN ADDING SUBSCRIPTION AGAIN ------------------- */
  /* .history-section::after {
    content: "";
    position: absolute;
    bottom: 0rem;
    left: 0;
    width: 100%;
    height: 35rem; 
    background-color: var(
      --color-neutral-lightest
    ); 
    transform: skewY(-11deg); 
    transform-origin: bottom right;
    z-index: 5; 
  } */

  .card-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: var(--spacing-md);
    z-index: 10;
  }
</style>
