---
import { Image } from "astro:assets";
import SubheaderSVG from "../../Base/SubheaderSVG.astro";
import logoInverted from "/src/assets/images/logo-inverter-iron.png";

const values = [
  {
    title: "Verlässlichkeit",
    description:
      "Vertrauen braucht Verlässlichkeit – und genau dafür stehen wir. Mit klaren Abläufen, ehrlicher Kommunikation und einem Miteinander auf Augenhöhe begleiten wir unsere Kund:innen Tag für Tag.",
  },
  {
    title: "Transparenz",
    description:
      "Wir behalten das Wesentliche im Auge – und sorgen dafür, dass Ihre Immobilie heute sowie morgen gut dasteht. Effizient, verantwortungsvoll und persönlich.",
  },
  {
    title: "Erreichbarkeit",
    description:
      "Für uns zählt der direkte Draht: persönliche Betreuung, ehrliche Gespräche und ein offenes Ohr – für Eigentümer:innen wie Mieter:innen. Immer ansprechbar, immer nah dran.",
  },
  {
    title: "Nachhaltigkeit",
    description:
      "Nachhaltigkeit bedeutet für uns, Immobilien nicht nur zu verwalten, sondern verantwortungsvoll für kommende Generationen zu erhalten. Wir setzen auf langfristige Lösungen, ressourcenschonende Prozesse und eine Verwaltung mit Blick in die Zukunft.",
  },
];
---

<section id="about-values" class="values-section">
  <div class="site-container padding-section slide-in-section">
    <Image
      class="image-logo-inverted"
      src={logoInverted}
      alt="company logo inverted, filled with image of white wall"
    />
    <div class="values-container">
      <SubheaderSVG
        subheader="UNSERE WERTE"
        subheaderSVGColor="var(--color-brand-dark-green)"
        subheaderColor="var(--color-neutral-lightest)"
      />
      {
        values.map((value) => {
          return (
            <div class="value-wrapper">
              <h3 class="value-h3">{value.title}</h3>
              <div class="card-line" />
              <p class="value-text">{value.description}</p>
            </div>
          );
        })
      }
    </div>
  </div>
</section>

<style>
  .values-section {
    background: var(--color-brand-light-green);
    position: relative;
    overflow: hidden;
    z-index: 10;
  }
  .site-container {
    display: flex;

    justify-content: end;
    text-align: left;
    z-index: 5;
  }
  .values-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: start;
    gap: var(--spacing-xl);
  }

  .value-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: var(--spacing-md);
  }

  .value-h3 {
    font-size: 2.5rem;
    font-family: var(--font-primary);
    color: var(--color-brand-dark-green);
    font-weight: var(--font-weight-black);
  }
  .value-text {
    color: var(--color-neutral-font-dark);
    font-size: var(--font-size-body-xsmall);
  }
  .card-line {
    width: 100%;
    height: 1px;
    background-color: var(--color-neutral-font-dark);
    margin-top: var(--spacing-sm);
    margin-bottom: var(--spacing-sm);
  }
  .image-logo-inverted {
    position: absolute;
    height: 120%;
    width: 120%;
    left: -60%;
    top: -5%;
    object-fit: cover;
    z-index: -5;
  }

  @media (max-width: 1024px) {
    .values-section {
      overflow: visible;
    }
    .site-container {
      justify-content: center;
      margin-bottom: 10rem;
    }

    .values-container {
      width: 80%;
      /* background-color: rgba(255, 255, 255, 0.8); */
      padding: var(--spacing-xl);
      border-radius: var(--border-radius);
    }
    .image-logo-inverted {
      left: -17%;
      top: 98%;
      width: 25rem;
      height: auto;
      object-fit: contain;
      z-index: 100;
    }
    .value-h3 {
      font-size: 1.8rem;
    }
  }
</style>
