---
import { Image } from "astro:assets";
import ButtonArrow from "../../Base/ButtonArrow.astro";
import HeroHeader from "../../Base/HeroHeader.astro";
import aboutHeroImgCut from "../../../assets/images/aboutHeroImgCut.jpg";
---

<section id="about-hero" class="about-hero">
  <div
    class="site-container about-container-align-left hero-grid-content padding-section"
  >
    <div class="container-align-left">
      <HeroHeader
        header="Tradition trifft Zukunft"
        text="Immobilienverwaltung & Vermittlung mit persönlichem Engagement und fachlicher Kompetenz."
        headerColor="var(--color-neutral-white)"
        textColor="var(--color-neutral-white)"
      />
      <ButtonArrow class="button-light-green" href="/services">
        Mehr zu Leistungen
      </ButtonArrow>
    </div>
  </div>
</section>
<style>
  .about-hero {
    position: relative;
    background:
      linear-gradient(rgba(47, 60, 53, 0.4), rgba(47, 60, 53, 0.4)),
      /* The overlay */ url("../../../assets/images/aboutHeroImgCut.jpg")
        no-repeat center / cover;
    padding-bottom: calc(var(--spacing-4xl) + 15vw);
    z-index: 10;
  }
</style>
