<section id="data-protection">
  <div class="site-container padding-section">
  <h1>
    Datenschutzerklärung für Website, Kontaktaufnahme, Direktmarketing und für Veranstaltungen gem. Art. 13 und 14 DSGVO
</h1>

<p>
    Der Schutz Ihrer persönlichen Daten ist der VF Immobilien („VF Immobilien“, „wir“, „uns“) ein besonderes Anliegen. Wir verarbeiten Ihre personenbezogenen Daten daher ausschließlich auf Grundlage der gesetzlichen Bestimmungen, insbesondere der Datenschutzgrundverordnung („DSGVO“), des anwendbaren Datenschutzgesetzes („DSG“) und des Telekommunikationsgesetzes („TKG“). Im Folgenden erfahren Sie welche Informationen wir erheben, verarbeiten und nutzen, u.a. wenn Sie unsere Website www.vf-immobilien.at („Website“) besuchen.
</p>

<!-- --- ABSCHNITT 1 --- -->
<h2>1. Name und Anschrift der Verantwortlichen</h2>
<p>
    Die Verantwortliche für die Verarbeitung Ihrer personenbezogenen Daten nach den datenschutzrechtlichen Bestimmungen ist:
</p>
<div class="contact-box">
    <p><strong>VF Immobilien</strong></p>
    <p><strong>Auhofstrasse 78C/1</strong>,</p>
    <p>1130 Wien</p>
    <p>Tel: **[Ihre Telefonnummer]**</p>
    <p>E-Mail: office@vf-immobilien.at</p>
</div>
<p>
    Wenden Sie sich gerne direkt an uns, wenn Sie Fragen zu einer Sie betreffenden Datenverarbeitung haben.
</p>

<!-- --- ABSCHNITT 2 --- -->
<h2>2. Datenverarbeitung Website</h2>

<h3>2.1. Umfang der Verarbeitung personenbezogener Daten bei Nutzung der Website</h3>
<p>
    Im Zuge Ihres Besuchs unserer Website werden wir folgende personenbezogene Daten über Sie automatisch erheben:
</p>
<ul>
    <li>Datum und Uhrzeit des Aufrufs einer Seite auf unserer Website;</li>
    <li>Daten zu Ihrem Endgerät (Device-ID);</li>
    <li>IP-Adresse;</li>
    <li>Name und Version Ihres Web-Browsers;</li>
    <li>Session ID.</li>
</ul>
<p>
    Zu den von uns bei Ihrem Besuch unserer Website erfassten Cookies verweisen wir auf unsere Cookie-Erklärung.
</p>

<h3>2.2. Rechtsgrundlagen für die Verarbeitung personenbezogener Daten</h3>
<p>
    Soweit es die Daten Ihres Besuches unserer Website und Online-Services betrifft, stützen wir uns zur Rechtfertigung der Verarbeitung auf unser berechtigtes Interesse nach Art. 6 Abs. 1 lit. f DSGVO, welches darin besteht, unsere Website nutzer:innenfreundlich zu gestalten und Sie vor Angriffen zu schützen.
</p>

<h3>2.3. Zweck der Datenverarbeitung</h3>
<p>
    Wir verarbeiten Ihre Daten im Zusammenhang mit dem Besuch unserer Website zu den folgenden Zwecken:
</p>
<ul>
    <li>um Ihnen unsere Website, einschließlich ihrer Funktionen, zur Verfügung zu stellen und um diese Website weiter zu verbessern und zu entwickeln;</li>
    <li>um Nutzungsstatistiken erstellen zu können;</li>
    <li>um Angriffe auf unsere Website und Online-Services erkennen, verhindern und untersuchen zu können.</li>
</ul>

<h3>2.4. Dauer der Speicherung</h3>
<p>
    Wir werden Ihre Daten zum Besuch der Website grundsätzlich für eine Dauer von 14 Tagen speichern. Eine längere Speicherung erfolgt nur, soweit dies erforderlich ist, um festgestellte Angriffe auf unsere Website zu untersuchen und darüber hinaus nur bis zur Beendigung maßgeblicher Verjährungsfristen, gesetzlicher Aufbewahrungsfristen oder allfälliger Rechtsstreitigkeiten.
</p>

<h3>2.5. Empfänger:innen von Daten</h3>
<p>
    Zum Betrieb und der Verwaltung der Website setzen wir regelmäßig IT-Dienstleister:innen ein, die nach unserem Auftrag und nach unseren Weisungen unter Umständen auch Zugriff auf personenbezogene Daten haben, um die beauftragten IT-Dienstleistungen erbringen zu können.
    Außerdem übermitteln wir Ihre personenbezogenen Daten an folgende Empfänger:innen:
</p>
<ul>
    <li>an sonstige externe Dritte im erforderlichen Ausmaß (zB. Wirtschaftsprüfer:innen, Versicherungen im Versicherungsfall, Rechtsvertreter:innen im Anlassfall, etc.);</li>
    <li>an Behörden und sonstige öffentliche Stellen im gesetzlich verpflichtenden Ausmaß (zB. Finanzbehörden, etc.).</li>
</ul>
<p>
    Ihre Daten werden ohne Ihre Einwilligung an keine weiteren Dritten für deren eigene Zwecke weitergegeben.
    Sofern wir Ihre Daten in einem Drittland außerhalb der Europäischen Union (EU) bzw. des Europäischen Wirtschaftsraums (EWR) verarbeiten oder dies im Rahmen der Inanspruchnahme von Diensten Dritter geschieht, erfolgt dies nur, wenn es zur Erfüllung unserer (vor)vertraglichen Pflichten, auf Grundlage Ihrer Einwilligung, aufgrund einer rechtlichen Verpflichtung oder auf Grundlage unserer berechtigten Interessen erforderlich ist. Wir haben geeignete und angemessene Garantien implementiert, um die Weitergabe Ihrer Daten in das jeweilige Drittland datenschutzkonform auszugalten. Auf Ihre Anfrage übermitteln wir Ihnen eine Kopie dieser geeigneten Garantien, sofern wir Ihre Daten in Drittländern verarbeiten bzw. verarbeiten lassen.
    Soweit damit eine Übermittlung in Staaten ohne Angemessenheitsbeschluss gemäß Art. 45 Abs. 3 DSGVO und ohne geeignete Garantien gemäß Art. 46 DSGVO, wie insbesondere die USA, einhergeht, weisen wir darauf hin, dass das Risiko besteht, dass Ihre derart übermittelten Daten dem Zugriff durch Behörden in diesen Drittstaaten zu Kontroll- und Überwachungszwecken unterliegen und dagegen keine wirksamen Rechtsbehelfe zur Verfügung stehen.
</p>

<!-- --- ABSCHNITT 3 --- -->
<h2>3. Datenverarbeitung Kontaktaufnahme</h2>

<h3>3.1. Umfang der Verarbeitung personenbezogener Daten bei Kontaktaufnahme mit uns</h3>
<p>
    Wenn Sie per E-Mail, Telefon, Fax, postalisch, über unsere Social-Media-Kanäle oder über unser Kontaktformular mit uns Kontakt aufnehmen, verarbeiten wir Ihre angegebenen personenbezogenen Daten (E-Mail, Name, Telefon, etc.) und den Inhalt Ihrer Anfrage.
    Treten Sie über unsere Social-Media-Seiten auf Facebook, Instagram oder LinkedIn mit uns in Kontakt, erhalten wir Ihre personenbezogenen Daten von den jeweiligen Betreiber:innen der Social-Media-Plattform und übermitteln Ihre personenbezogenen Daten auch an die jeweiligen Betreiber:innen.
</p>

<h3>3.2. Rechtsgrundlage für die Verarbeitung personenbezogener Daten</h3>
<p>
    Um Ihre Anfrage beantworten zu können, stützen wir uns zur Rechtfertigung der Verarbeitung auf unser berechtigtes Interesse nach Art. 6 Abs. 1 lit. f DSGVO, welches darin besteht, Ihre Frage individuell zufriedenstellend zu beantworten.
</p>

<h3>3.3. Zweck der Datenverarbeitung</h3>
<p>
    Wir verarbeiten Ihre Daten im Zusammenhang mit Ihrer Anfrage zum Zweck, Ihnen eine individuelle und zufriedenstellende Antwort zu geben.
</p>

<h3>3.4. Dauer der Speicherung</h3>
<p>
    Wir werden Ihre Daten i.Z.m. Anfragen und Kontaktaufnahmen grundsätzlich für eine Dauer von sechs Monaten nach Beantwortung der Anfrage speichern, um auf etwaige Folgefragen reagieren zu können. Eine längere Speicherung erfolgt nur, soweit dies erforderlich ist, um festgestellte Angriffe auf unsere Website zu untersuchen und darüber hinaus nur bis zur Beendigung maßgeblicher Verjährungsfristen, gesetzlicher Aufbewahrungsfristen oder allfälliger Rechtsstreitigkeiten.
</p>

<h3>3.5. Empfänger:innen von Daten</h3>
<p>
    Für die Beantwortung von Anfragen setzen wir regelmäßig IT-Dienstleister:innen ein, die nach unserem Auftrag und nach unseren Weisungen unter Umständen auch Zugriff auf personenbezogene Daten haben, um die beauftragten IT-Dienstleistungen erbringen zu können.
    Außerdem übermitteln wir Ihre personenbezogenen Daten an folgende Empfänger:innen:
</p>
<ul>
    <li>an sonstige externe Dritte im erforderlichen Ausmaß (z.B. Wirtschaftsprüfer:innen, Versicherungen im Versicherungsfall, Rechtsvertreter:innen im Anlassfall, etc.);</li>
    <li>an Behörden und sonstige öffentliche Stellen im gesetzlich verpflichtenden Ausmaß (z.B. Finanzbehörden, etc.).</li>
</ul>
<p>
    Ihre Daten werden ohne Ihre Einwilligung an keine weiteren Dritten für deren eigene Zwecke weitergegeben.
    Sofern wir Ihre Daten in einem Drittland außerhalb der Europäischen Union (EU) bzw. des Europäischen Wirtschaftsraums (EWR) verarbeiten oder dies im Rahmen der Inanspruchnahme von Diensten Dritter geschieht, erfolgt dies nur, wenn es zur Erfüllung unserer (vor)vertraglichen Pflichten, auf Grundlage Ihrer Einwilligung, aufgrund einer rechtlichen Verpflichtung oder auf Grundlage unserer berechtigten Interessen erforderlich ist. Wir haben geeignete und angemessene Garantien implementiert, um die Weitergabe Ihrer Daten in das jeweilige Drittland datenschutzkonform auszugalten. Auf Ihre Anfrage übermitteln wir Ihnen eine Kopie dieser geeigneten Garantien, sofern wir Ihre Daten in Drittländern verarbeiten bzw. verarbeiten lassen.
    Soweit damit eine Übermittlung in Staaten ohne Angemessenheitsbeschluss gemäß Art. 45 Abs. 3 DSGVO und ohne geeignete Garantien gemäß Art. 46 DSGVO, wie insbesondere die USA, einhergeht, weisen wir darauf hin, dass das Risiko besteht, dass Ihre derart übermittelten Daten dem Zugriff durch Behörden in diesen Drittstaaten zu Kontroll- und Überwachungszwecken unterliegen und dagegen keine wirksamen Rechtsbehelfe zur Verfügung stehen.
</p>

<!-- --- ABSCHNITT 4 --- -->
<h2>4. Datenverarbeitung für Direktmarketing</h2>

<h3>4.1. Umfang der Verarbeitung personenbezogener Daten bei Direktmarketing</h3>
<p>
    Erteilen Sie uns Ihre freiwillige Einwilligung zur werblichen Kontaktaufnahme, werden wir Ihre E-Mail-Adresse, Ihren Namen, Ihre Telefonnummer und Ihren Titel sowie Ihre Anrede für die Zusendung von Direktmarketingmaterialien über Immobilien und zugehörige Angebote, fundierte Marktberichte, Veranstaltungen und ähnliche Dienstleistungen aus dem Immobilienbereich per E-Mail und telefonisch verarbeiten.
    Wenn Sie in diesem Rahmen einen Downloadlink für Unterlagen über unser CRM-System erhalten, können wir auch einsehen, ob und wann (Datum und Uhrzeit) Sie die Dateien heruntergeladen haben.
</p>

<h3>4.2. Rechtsgrundlage für die Verarbeitung personenbezogener Daten</h3>
<p>
    Wir verarbeiten Ihre Daten im Zusammenhang mit Direktmarketing nur aufgrund Ihrer ausdrücklichen Einwilligung (Art. 6 Abs. 1 lit. a DSGVO). Sie können Ihre Einwilligung zur werblichen Kontaktaufnahme jederzeit, ohne Angabe von Gründen für alle oder einzelne Zwecke und mit Wirkung für die Zukunft (z.B. über einen Link am Ende jeden Newsletters) widerrufen.
</p>

<h3>4.3. Zweck der Datenverarbeitung</h3>
<p>
    Wir verarbeiten Ihre Daten im Zusammenhang mit Direktmarketing zum Zweck, Ihnen Informationen über Immobilien und zugehörige Angebote, fundierte Marktberichte, Veranstaltungen und ähnliche Dienstleistungen aus dem Immobilienbereich per E-Mail und telefonisch anzubieten.
</p>

<h3>4.4. Dauer der Speicherung</h3>
<p>
    Sofern Sie sich nur für Newsletter und den Erhalt von Direktmarketing entsprechend angemeldet haben und kein(e) Kund:in von uns sind, speichern wir Ihre personenbezogenen Daten bis auf Ihren Widerruf und maximal für drei Jahre.
</p>

<h3>4.5. Empfänger:innen von Daten</h3>
<p>
    Für die Nutzung von Direktmarketing setzen wir regelmäßig IT-Dienstleister:innen und sonstige Dienstleister ein, die uns bei der Erbringung unserer Leistungen unterstützen und in unserem Auftrag tätig werden (inkl. Anbieter:innen von Marketingtools, Marketingagenturen, Kommunikationsdienstleister:innen und Callcenter) (Auftragsverarbeiter).
    Außerdem übermitteln wir Ihre personenbezogenen Daten an folgende Empfänger:innen:
</p>
<ul>
    <li>an sonstige externe Dritte im erforderlichen Ausmaß (z.B. Wirtschaftsprüfer:innen, Versicherungen im Versicherungsfall, Rechtsvertreter:innen im Anlassfall, etc.);</li>
    <li>an Behörden und sonstige öffentliche Stellen im gesetzlich verpflichtenden Ausmaß (z.B. Finanzbehörden, etc.).</li>
</ul>
<p>
    Sofern wir Ihre Daten in einem Drittland außerhalb der Europäischen Union (EU) bzw. des Europäischen Wirtschaftsraums (EWR) verarbeiten oder dies im Rahmen der Inanspruchnahme von Diensten Dritter geschieht, erfolgt dies nur, wenn es zur Erfüllung unserer (vor)vertraglichen Pflichten, auf Grundlage Ihrer Einwilligung, aufgrund einer rechtlichen Verpflichtung oder auf Grundlage unserer berechtigten Interessen erforderlich ist. Wir haben geeignete und angemessene Garantien implementiert, um die Weitergabe Ihrer Daten in das jeweilige Drittland datenschutzkonform auszugalten. Auf Ihre Anfrage übermitteln wir Ihnen eine Kopie dieser geeigneten Garantien, sofern wir Ihre Daten in Drittländern verarbeiten bzw. verarbeiten lassen.
    Soweit damit eine Übermittlung in Staaten ohne Angemessenheitsbeschluss gemäß Art. 45 Abs. 3 DSGVO und ohne geeignete Garantien gemäß Art. 46 DSGVO, wie insbesondere die USA, einhergeht, weisen wir darauf hin, dass das Risiko besteht, dass Ihre derart übermittelten Daten dem Zugriff durch Behörden in diesen Drittstaaten zu Kontroll- und Überwachungszwecken unterliegen und dagegen keine wirksamen Rechtsbehelfe zur Verfügung stehen.
</p>

<!-- --- ABSCHNITT 5 --- -->
<h2>5. Datenverarbeitung Veranstaltungen</h2>

<h3>5.1. Umfang der Verarbeitung personenbezogener Daten bei Veranstaltungen</h3>
<p>
    Im Rahmen von Veranstaltungen können durch uns oder in unserem Auftrag Fotografien und/oder Filme/Videos erstellt werden. Mit der Anmeldung zu einer Veranstaltung nehmen Sie zur Kenntnis, dass Fotografien und Videomaterialien, auf denen Sie abgebildet sind, gespeichert, zur Presse-Berichterstattung verwendet und in verschiedensten (Sozialen) Medien, Publikationen und auf Webseiten von VF Immobilien (inklusive in Blogbeiträgen) veröffentlicht werden.
</p>

<h3>5.2. Rechtsgrundlage für die Verarbeitung personenbezogener Daten</h3>
<p>
    Die Verarbeitung Ihrer personenbezogenen Daten stützen wir (als Veranstalter) auf unser berechtigtes Dokumentationsinteresse gem. Art. 6 Abs 1 lit f DSGVO.
</p>

<h3>5.4. Dauer der Speicherung</h3>
<p>
    Fotografien und/oder Filme/Videos von Veranstaltungen speichern wir für drei Jahre ab dem Zeitpunkt der Veranstaltung.
</p>

<h3>5.5. Empfänger:innen von Daten</h3>
<p>
    Für die Erstellung von Fotografien, Filme/Videos, Presse-Berichten, Publikationen und Content für unsere verschiedensten (Sozialen) Medien sowie für die Webseiten von VF Immobilien (inklusive Blogbeiträgen) setzen wir regelmäßig (IT-)Dienstleister:innen ein, die nach unserem Auftrag und nach unseren Weisungen unter Umständen auch Zugriff auf personenbezogene Daten haben, um die beauftragten (IT-)Dienstleistungen erbringen zu können.
    Außerdem übermitteln wir Ihre personenbezogenen Daten an folgende Empfänger:innen:
</p>
<ul>
    <li>an sonstige externe Dritte im erforderlichen Ausmaß (z.B. Wirtschaftsprüfer:innen, Versicherungen im Versicherungsfall, Rechtsvertreter:innen im Anlassfall, etc.);</li>
    <li>an Behörden und sonstige öffentliche Stellen im gesetzlich verpflichtenden Ausmaß (z.B. Finanzbehörden, etc.).</li>
</ul>
<p>
    Ihre Daten werden ohne Ihre Einwilligung an keine weiteren Dritten für deren eigene Zwecke weitergegeben.
    Sofern wir Ihre Daten in einem Drittland außerhalb der Europäischen Union (EU) bzw. des Europäischen Wirtschaftsraums (EWR) verarbeiten oder dies im Rahmen der Inanspruchnahme von Diensten Dritter geschieht, erfolgt dies nur, wenn es zur Erfüllung unserer (vor)vertraglichen Pflichten, auf Grundlage Ihrer Einwilligung, aufgrund einer rechtlichen Verpflichtung oder auf Grundlage unserer berechtigten Interessen erforderlich ist. Wir haben geeignete und angemessene Garantien implementiert, um die Weitergabe Ihrer Daten in das jeweilige Drittland datenschutzkonform auszugalten. Auf Ihre Anfrage übermitteln wir Ihnen eine Kopie dieser geeigneten Garantien, sofern wir Ihre Daten in Drittländern verarbeiten bzw. verarbeiten lassen.
    Soweit damit eine Übermittlung in Staaten ohne Angemessenheitsbeschluss gemäß Art. 45 Abs. 3 DSGVO und ohne geeignete Garantien gemäß Art. 46 DSGVO, wie insbesondere die USA, einhergeht, weisen wir darauf hin, dass das Risiko besteht, dass Ihre derart übermittelten Daten dem Zugriff durch Behörden in diesen Drittstaaten zu Kontroll- und Überwachungszwecken unterliegen und dagegen keine wirksamen Rechtsbehelfe zur Verfügung stehen.
</p>

<!-- --- ABSCHNITT 6 --- -->
<h2>6. Datensicherheit</h2>
<p>
    Wir treffen angemessene technische und organisatorische Sicherheitsmaßnahmen zum Schutz Ihrer personenbezogenen Daten vor unbeabsichtigter oder unberechtigter Löschung, Veränderung oder gegen Verlust, Diebstahl und unberechtigte Einsicht, Weitergabe, Reproduktion, Nutzung, Änderung oder Zugriff. Darüber hinaus sind wir und unsere Mitarbeiter:innen zur Einhaltung des Datengeheimnisses und zur Verschwiegenheit verpflichtet. Ebenso werden unsere Auftragsverarbeiter:innen, die zur Erfüllung ihrer beruflichen Aufgaben Zugang zu Ihren personenbezogenen Daten haben müssen, Zugriff erhalten und sich denselben Verpflichtungen zur Einhaltung des Datengeheimnisses und zur Verschwiegenheit unterwerfen.
</p>

<!-- --- ABSCHNITT 7 --- -->
<h2>7. Ihre Betroffenenrechte</h2>

<h3>7.1. Recht auf Auskunft</h3>
<p>
    Sie haben uns gegenüber das Recht auf Auskunft über alle Daten zu Ihrer Person, die von uns verarbeitet werden. Ihnen steht das Recht zu, Auskunft darüber zu verlangen, ob die Sie betreffenden personenbezogenen Daten in ein Drittland oder an eine internationale Organisation übermittelt werden. In diesem Zusammenhang können Sie verlangen, über die geeigneten Garantien gem. Art. 46 DSGVO im Zusammenhang mit der Übermittlung unterrichtet zu werden.
</p>

<h3>7.2. Recht auf Richtigstellung und Recht auf Einschränkung der Verarbeitung</h3>
<p>
    Sie können die Berichtigung oder Vervollständigung unrichtiger oder unvollständiger Daten verlangen. Sie können unter bestimmten Umständen, beispielsweise, wenn die Richtigkeit von Daten streitig ist, bis die Richtigkeit überprüft worden ist, eine Einschränkung der Verarbeitung von Daten dahingehend verlangen, dass diese nur mit Ihrer Einwilligung oder zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen oder zum Schutz der Rechte einer anderen natürlichen oder juristischen Person, oder aus Gründen eines wichtigen öffentlichen Interesses verarbeitet werden dürfen.
</p>

<h3>7.3. Recht auf Datenübertragbarkeit</h3>
<p>
    Sie können verlangen, dass wir Ihnen – oder soweit dies technisch machbar ist, einem von Ihnen bestimmten Dritten – eine Kopie Ihrer Daten in einem strukturierten, gängigen und maschinenlesbaren Format übersenden. Außerdem haben Sie das Recht, diese Daten einem anderen Verantwortlichen ohne Behinderung durch den Verantwortlichen, dem die personenbezogenen Daten bereitgestellt wurden, zu übermitteln, sofern
</p>
<ul>
    <li>die Verarbeitung auf einer Einwilligung gem. Art. 6 Abs. 1 lit. a DSGVO oder Art. 9 Abs. 2 lit. a DSGVO oder auf einem Vertrag gem. Art. 6 Abs. 1 lit. b DSGVO beruht, und</li>
    <li>die Verarbeitung mithilfe automatisierter Verfahren erfolgt.</li>
</ul>
<p>
    In Ausübung dieses Rechts haben Sie ferner das Recht, zu erwirken, dass die Sie betreffenden personenbezogenen Daten direkt von uns einem anderen Verantwortlichen übermittelt werden, soweit dies technisch machbar ist. Freiheiten und Rechte anderer Personen dürfen hierdurch nicht beeinträchtigt werden.
</p>

<h3>7.4. Recht auf Löschung</h3>
<p>
    Sie haben das Recht auf Löschung von Daten unter bestimmten Umständen, etwa wenn diese nicht gemäß den Datenschutzanforderungen verarbeitet werden.
    Haben Sie uns gegenüber das Recht auf Berichtigung, Löschung oder Einschränkung der Verarbeitung geltend gemacht, sind wir verpflichtet, allen Empfängern, denen die Sie betreffende personenbezogene Daten offengelegt wurden, diese Berichtigung oder Löschung der Daten oder Einschränkung der Verarbeitung mitzuteilen, es sei denn, dies erweist sich als unmöglich oder ist mit einem unverhältnismäßigen Aufwand verbunden.
</p>

<h3>7.5. Recht auf Widerspruch</h3>
<p>
    Sie haben das Recht, aus Gründen, die sich aus ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung der Sie betreffenden personenbezogenen Daten, die aufgrund von Art. 6 Abs. 1 lit. e oder f DSGVO erfolgt, Widerspruch einzulegen.
    Wir verarbeiten die Sie betreffenden personenbezogenen Daten in diesem Fall nicht mehr, es sei denn, wir können zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten überwiegen, oder die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.
</p>

<h3>7.6. Recht auf Widerruf der datenschutzrechtlichen Einwilligungserklärung</h3>
<p>
    Sie haben das Recht, eine allenfalls erteilte datenschutzrechtliche Einwilligungserklärung jederzeit zu widerrufen. Durch den Widerruf der Einwilligung wird die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung nicht berührt.
</p>

<h3>7.7. Aufsichtsbehörde</h3>
<p>
    Ungeachtet etwaiger anderer Rechtsbehelfe besteht das Recht auf Beschwerde bei der nationalen Aufsichtsbehörde Ihres Aufenthaltsortes, wenn eine unrechtmäßige Verarbeitung personenbezogener Daten angenommen wird. In Österreich ist die Datenschutzbehörde (DSB), Barichgasse 40-42, 1030 Wien, E-Mail dsb@dsb.gv.at, Telefon: +43 1 52 152-0 zuständig.
</p>

<h3>7.8. Geltendmachung Ihrer Rechte</h3>
<p>
    Damit wir Ihre Anfrage zu Ihren oben genannten Rechten bearbeiten können und um sicherzustellen, dass personenbezogene Daten nicht an unberechtigte Dritte herausgegeben werden, formulieren Sie bitte die Anfrage unter eindeutiger Identifizierung Ihrer Person sowie mit kurzer Beschreibung über den Umfang der Ausübung Ihrer oben aufgelisteten Betroffenenrechte.
</p>

</div>
</section>

<style>
  section {
    background: var(--color-neutral-lightest);
    color: var(--color-neutral-font-dark);

  }
  h1 {
    margin-bottom: var(--spacing-xl);
  }
  h1, h2 {
    color: var(--color-brand-medium-green);
   
  }
  h2, h3 {
    margin-top: var(--spacing-lg);
    margin-bottom: var(--spacing-md);
  }
  h3 {
    color: var(--color-brand-dark-green);
  }

</style>
