<section>
  <div class="site-container padding-section">
    <h1>Impressum</h1>

    <h2>Kontakt & Unternehmensdaten</h2>
    <div class="contact-box">
      <p><strong>VF Immobilien</strong></p>
      <p>Viktoria Frohner Immobilien GmbH</p>
      <p>Auhofstraße 78C/1</p>
      <p>1130 Wien</p>
      <p>Tel: +43 676 442 30 32</p>
      <p>E-Mail: <a href="mailto:office@vf-immobilien.at">office@vf-immobilien.at</a></p>
      <p>Web: <a href="https://www.vf-immobilien.at">www.vf-immobilien.at</a></p>
    </div>

    <h2>Unternehmensdetails</h2>
    <p>
      <strong>Geschäftsführung:</strong> Viktoria Frohner<br>
      <strong>Rechtsform:</strong> GmbH
    </p>
    <p>
      <strong>Firmenbuchnummer:</strong> FN 614524 m<br>
      <strong>Firmenbuchgericht:</strong> Handelsgericht Wien<br>
      <strong>UID-Nummer:</strong> ATU 80178558
    </p>

    <h2>Gewerbeberechtigungen</h2>
    <ul>
      <li>Immobilientreuhänder (Immobilienmakler, Immobilienverwalter, Bauträger), eingeschränkt auf Immobilienmakler und</li>
      <li>Namhaftmachung gem. GewO</li>
    </ul>

    <h2>Zuständigkeiten & Mitgliedschaften</h2>
    <p>
      <strong>Zuständige Aufsichtsbehörde:</strong> Magistratisches Bezirksamt / MA 63
    </p>
    <p>
      <strong>Mitgliedschaften:</strong> WKO Wien – Fachgruppe Immobilien- und Vermögenstreuhänder
    </p>

    <h2>Rechtliches</h2>
    <p>
      <strong>Rechtsgrundlagen:</strong><br>
      GewO, MaklerG, ECG, KSchG (<a href="http://www.ris.bka.gv.at" target="_blank">www.ris.bka.gv.at</a>)
    </p>

    <h2>Grundlegende Richtung der Website</h2>
    <p>
      Information zu Dienstleistungen und Angeboten der VF Immobilien.
    </p>

    <h2>Verbraucherschlichtung</h2>
    <p>
      VF Immobilien nimmt nicht an Streitbeilegungsverfahren teil.
    </p>

    <h2>Urheberrecht</h2>
    <p>
      Sämtliche Inhalte unterliegen dem Urheberrecht. Nutzung nur mit Zustimmung.
    </p>
  
  </div>
</section>
  <style>
    section {
      background: var(--color-neutral-lightest);
      color: var(--color-neutral-font-dark);
      
    }
    h1 {
      margin-bottom: var(--spacing-4xl);
    }

    h1,
    h2 {
      color: var(--color-brand-medium-green);
      f
    }
    h2 {
      margin-top: var(--spacing-xl);
    }
    .section-title {
      font-style: normal;
    }
    h3 {
      margin-top: var(--spacing-lg);
      margin-bottom: var(--spacing-md);
    }
    h3 {
      color: var(--color-brand-dark-green);
    }
    p{
      font-style: normal;
    }
  </style>
</section>
