---
import ButtonArrow from "../../Base/ButtonArrow.astro";
---

<section class="section-coming-soon">
  <div class="coming-soon-wrapper">
    <h1 class="header-coming-soon">Coming Soon!</h1>
    <ButtonArrow href="/properties/propertySearch" class="button-orange">
      Zur Immobiliensuche
    </ButtonArrow>
  </div>
</section>
<style>
  .section-coming-soon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  .coming-soon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    gap: var(--spacing-2xl);
  }
  .header-coming-soon {
    color: var(--color-neutral-lightest);
    text-align: center;
  }
</style>
