---
import { Image } from "astro:assets";
import propertiesHero from "/src/assets/images/properties-hero.jpg";
import HeroHeader from "../../Base/HeroHeader.astro";
---

<section id="properties-hero" class="properties-hero">
  <div class="site-container hero-grid-content padding-section">
    <div class="container-align-left">
      <HeroHeader
        header="Immobiliensuche"
        headerColor="var(--color-brand-dark-green)"
      />
    </div>
    <Image
      src={propertiesHero}
      alt="brown wooden door"
      class="angled-image angled-image-mobile-show"
      loading="eager"
      widths={[450, 600, 992, 1200, 1667]}
      sizes="(max-width: 991px) 100vw, 28vw"
      width={1667}
      height={2500}
      quality={70}
    />
  </div>
</section>

<style>
  .properties-hero {
    background-color: var(--color-brand-light-green);
    position: relative;
    height: 20rem;
  }

  .padding-section {
    padding-right: 0;
  }

  .site-container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .hero-grid-content {
    display: grid;
    grid-template-columns: 1fr 28%;
    gap: var(--spacing-2xl);
    /* height: 90%; */
  }

  @media (max-width: 991px) {
    .hero-grid-content {
      grid-template-columns: 1fr;
    }
    .container-align-left {
      margin-top: var(--spacing-2xl);
    }
    .padding-section {
      padding-left: 1rem;
    }
    .angled-image-mobile-show {
      display: none;
    }
  }
</style>
