---
import ButtonArrow from "../../Base/ButtonArrow.astro";
import HeroHeader from "../../Base/HeroHeader.astro";
---

<section id="about-hero" class="hero">
  <div class="site-container hero-grid-content padding-section">
    <div class="container-align-left">
      <HeroHeader
        header="Jederzeit für Sie da."
        text="Wir freuen uns, von Ihnen zu hören."
        headerColor="var(--color-neutral-white)"
        textColor="var(--color-neutral-white)"
      />
    </div>
  </div>
</section>

<style>
  .hero {
    position: relative;
    background:
      linear-gradient(rgba(47, 60, 53, 0.4), rgba(47, 60, 53, 0.4)),
      /* The overlay */ url("../../../assets/images/contact-hero.jpg") no-repeat
        center / cover;
    padding-bottom: calc(var(--spacing-4xl) + 15vw);
    z-index: 0;
  }
  .hero::after {
    content: "";
    position: absolute;
    bottom: -40rem;
    left: 0;
    width: 100%;
    height: 40rem; /* Adjust this to control the height of the diagonal */
    background-color: var(
      --color-neutral-lightest
    ); /* Color of the section BELOW it */
    transform: skewY(11deg); /* Adjust this value for the angle */
    transform-origin: bottom right;
    z-index: -1; /* Ensures the bottom wedge is on top */
  }

  .container-align-left {
    padding-bottom: 0;
  }
</style>
