---
import { Image } from "astro:assets";
import VikiLogo from "../../../public/logos/Viki-new-logo-white-1-with-writing-1.svg";
import Linkedin from "../astro/public/images/Linkedin-1.svg";
import Instagram from "../../../public/images/Instagram-1.svg";
import Facebook from "../../../public/images/Facebook-1.svg";
import EmailIcon from "../../../public/images/email-icon-1.svg";
import PhoneIcon from "../../../public/images/phone-icon-1.svg";
import LocationIcon from "../../../public/images/location-icon-1.svg";
---

<footer class="main-footer">
  <div class="footer-logo-section">
    <Image
      src={VikiLogo}
      alt="Viki Frohner Immobilien"
      class="footer-logo"
      width="150"
      height="150"
    />
    <div class="footer-divider"></div>
    <div class="footer-tagline">Verwaltung, gebaut auf Vertrauen.</div>
    <div class="footer-socials">
      <a href="#" class="social-link"
        ><Image src={Linkedin} loading="lazy" alt="Linkedin" /></a
      >
      <a href="#" class="social-link"
        ><Image src={Instagram} loading="lazy" alt="Instagram" /></a
      >
      <a href="#" class="social-link"
        ><Image src={Facebook} loading="lazy" alt="Facebook" /></a
      >
    </div>
  </div>

  <div class="footer-links-container">
    <div class="footer-links">
      <div class="links-group">
        <h6 class="links-header">Über uns</h6>
        <a href="uber-uns.html" class="link-item">Team</a>
        <a href="uber-uns.html" class="link-item">Entstehung</a>
        <a href="uber-uns.html" class="link-item">Werte</a>
      </div>
      <div class="links-group">
        <h6 class="links-header">Leistungen</h6>
        <div class="link-item">Hausverwaltung</div>
        <div class="link-item">Immobilienvermittlung</div>
        <div class="link-item">Eigentümer:inberatung</div>
        <div class="link-item">Suchvorvermerkung</div>
      </div>
      <div class="links-group">
        <h6 class="links-header">Immobiliensuche</h6>
        <div class="link-item">Suchprofil</div>
        <div class="link-item">Kaufen</div>
        <div class="link-item">Mieten</div>
      </div>
    </div>
    <div class="footer-contact-details">
      <div class="contact-line">
        <img
          src="images/email-icon-1.svg"
          loading="lazy"
          alt="Email icon"
          class="contact-icon"
        />
        <div class="contact-text"></div>
      </div>
      <div class="contact-line">
        <img
          src="images/phone-icon-1.svg"
          loading="lazy"
          alt="Phone icon"
          class="contact-icon"
        />
        <div class="contact-text"></div>
      </div>
      <div class="contact-line">
        <img
          src="images/location-icon-1.svg"
          loading="lazy"
          alt="Location icon"
          class="contact-icon"
        />
        <div class="contact-text"></div>
      </div>
    </div>
  </div>
</footer>
