:root {
  /* Brand Colors */
  --color-brand-green: #4b8e69;
  --color-brand-medium-green: #35644a;
  --color-brand-dark-green: #2f3c35;
  --color-brand-light-green: #96deb6;

  /* Call-to-Action (CTA) Colors */
  --color-cta-orange: #d87c5a;
  --color-cta-orange-light: #ffd3c3;

  /* Neutral Colors */
  --color-neutral-font-dark: #171a1f;
  --color-neutral-black: #1c1c1c;
  --color-neutral-transparent: rgba(255, 255, 255, 0);
  --color-neutral-white: #fff;
  --color-neutral-lightest: #fdf9ef; /* Beige */
  --color-neutral-light-grey: #eae8e4;
  --color-neutral-medium-grey: #a8a6a1;
  --color-neutral-dark-grey: #5e5e5e;

  /* System Colors */
  --color-system-success: #cef5ca;

  /* --- Typography --- */

  /* Font Families */
  --font-primary: "Inter", sans-serif;
  --font-header: "Bitstream Iowan", serif;

  /* Font Sizes */
  --font-size-h1: 3.5rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.5rem;
  --font-size-h4: 1.25rem;
  --font-size-h5: 1rem;
  --font-size-h6: 0.75rem;
  --font-size-body-xlarge: 1.25rem; /*20px*/
  --font-size-body-large: 1.125rem; /*18px*/
  --font-size-body-base: 1rem; /*16px*/
  --font-size-body-small: 0.875rem; /*14px*/
  --font-size-body-xsmall: 0.75rem; /*12px*/

  /* Line Heights */
  --line-height-header: 1.2;
  --line-height-body: 1.5;

  /**/
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  --spacing-sm: 0.5rem; /* 8px */
  --spacing-md: 1rem; /* 16px */
  --spacing-lg: 1.25rem; /* 20px */
  --spacing-xl: 2rem; /* 32px */
  --spacing-2xl: 3rem; /* 48px */
  --spacing-3xl: 4rem; /* 64px */
  --spacing-4xl: 6rem; /* 96px */
  --spacing-5xl: 8rem; /* 128px */
  --spacing-6xl: 12rem; /* 196px */

  /* Border Radius*/
  --border-radius: 0.25rem;
}

/* ----------------------------------- GLOBAL RESETS/BASE STYLES -------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-primary);
  box-sizing: border-box;
  font-size: var(--font-size-body-base); /*16px*/
  line-height: var(--line-height-body);
  color: var(--color-neutral-font-dark);
  background-color: var(--color-brand-dark-green);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.cs-open {
  overflow: hidden;
}
main {
  flex: 1;
  margin-top: 4.0625rem;
}

/* ----------------------------------------------- HEADERS -------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  line-height: var(--line-height-header);
}
h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-black);
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
}
h4 {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-bold);
}
h5 {
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-bold);
}
h6 {
  font-size: var(--font-size-h6);
  font-weight: var(--font-weight-bold);
}

/* ----------------------------------------------- LINKS -------------------------------------------- */
a {
  text-decoration: none;
  color: inherit;
}
/* ----------------------------------------------- BUTTONS -------------------------------------------- */
button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: var(--spacing-md);
  border: solid 1px transparent;
  border-radius: var(--border-radius);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-body);
  font-size: var(--font-size-body-base);
  padding: var(--spacing-md) var(--spacing-xl);
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

button:not([class]) {
  border: solid 1px var(--color-neutral-font-dark);
  background-color: var(--color-neutral-lightest);
  color: var(--color-neutral-font-dark);
}

.button-orange {
  background-color: var(--color-cta-orange);
  color: var(--color-neutral-white);
  border-color: var(--color-cta-orange);
}

.button-green {
  background-color: var(--color-brand-medium-green);
  color: var(--color-neutral-white);
  border-color: var(--color-brand-medium-green);
}

.button-light-green {
  background-color: var(--color-brand-light-green);
  color: var(--color-neutral-font-dark);
  border-color: var(--color-brand-light-green);
}
.button-transparent {
  background-color: var(--color-neutral-transparent);
  color: var(--color-neutral-white);
  border-color: var(--color-neutral-white);
}

.button-orange:hover,
.button-transparent:hover {
  background-color: var(--color-cta-orange-light);
  color: var(--color-cta-orange);
  border: solid 1px var(--color-cta-orange);
}

.button-green:hover {
  background-color: var(--color-brand-light-green);
  color: var(--color-brand-dark-green);
  border: solid 1px var(--color-brand-dark-green);
}

.button-light-green:hover {
  background-color: var(--color-brand-green);
  color: var(--color-neutral-white);
  border: solid 1px var(--color-brand-green);
}

.button-small {
  padding: var(--spacing-sm) var(--spacing-lg);
}

/* ----------------------------------------------- LIST ITEMS  -------------------------------------------- */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  text-decoration: none;
}

/* -------------------------- LAYOUTS: SECTIONS, CONTAINERS & GLOBAL PADDING  ------------------------------ */
.site-container {
  max-width: 80rem; /* Use the same max-width as your navbar */
  margin: 0 auto;
}
section {
  /* width: 100%; */
  display: flex;
  justify-content: center;
}

.padding-section {
  padding: var(--spacing-4xl) var(--spacing-2xl);
}

.padding-section-diagonal {
  padding: var(--spacing-6xl) var(--spacing-2xl);
}
.padding-bottom-pre-diagonal {
  padding-bottom: 15rem;
}
.container-align-left {
  display: flex;
  flex-direction: column;
  align-items: start;

  justify-content: center;
  gap: var(--spacing-xl);
  padding-top: var(--spacing-4xl);
  padding-bottom: var(--spacing-4xl);
}

/* --------------------------------------------------- IMAGES  -------------------------------------------------- */
.angled-image {
  height: 100%;
  width: 100%;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 70% 100%);
  object-fit: cover;
}
.angled-image-mobile {
  display: none;
}

/* remove angled image on mobile */
@media (max-width: 61.875rem) {
  .angled-image {
    display: none;
  }
  .has-angled-image {
    flex-direction: column;
    padding-bottom: 16rem;
  }
  .angled-image-mobile {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 16rem;
    object-fit: cover;
  }
}

/* -------------------------------------------PROPERTY CARD -------------------------------------------------- */

.property-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.property-card-link:hover {
  transform: translateY(-5px);
  box-shadow: var(--box-shadow-medium);
}

.property-card-wrapper {
  background-color: var(--color-neutral-lightest);

  border-radius: var(--border-radius);
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--font-primary);
  box-shadow: 1px 1px 2px var(--color-neutral-dark-grey);
  /* min-width: 290px; */
  max-width: 310px;
}

.property-card-image-box {
  position: relative;
  padding-bottom: 66.66%;
  overflow: hidden;
}

.property-card-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.property-card-location-wrapper,
.property-card-icon-text {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  margin-bottom: var(--spacing-small);
}

.location-icon-wrapper,
.detail-icon-wrapper {
  /* Ensure the container doesn't override the size set in the SVG markup */
  width: 16px;
  height: 16px;

  display: inline-flex;
  align-items: center;
}

/* Ensure the SVG itself respects the container size */
.location-icon-wrapper svg,
.detail-icon-wrapper svg {
  width: 100%;
  height: 100%;
  display: block;
}

.property-card-location-wrapper {
  color: var(--color-neutral-dark-grey);
}
/*wrapper for card text*/
.property-card-info-wrapper {
  padding: var(--spacing-lg);
  flex-grow: 1;
  gap: var(--spacing-sm);
  display: flex;
  flex-direction: column;
}

.location-icon {
  width: 16px;
  height: 16px;
}

.property-card-heading {
  margin-top: 0;
  color: var(--color-neutral-dark);
  font-family: var(--font-primary);
  font-size: var(--font-size-h5);
  line-height: var(--line-height-header);
}

.property-card-icons-wrapper {
  display: flex;
  gap: var(--spacing-regular);
  justify-content: space-between;
}

.property-card-icon-text {
  display: flex;
  align-items: center;
  color: var(--color-neutral-dark);
  font-size: var(--font-size-extra-tiny);
}

.property-card-address,
.icon-p {
  font-size: var(--font-size-body-xsmall);
}

.detail-icon {
  width: 14px;
  height: 14px;
  margin-right: var(--spacing-tiny);
}

.property-icon-price-wrapper {
  display: flex;
  align-items: baseline;
  font-weight: 700;
  color: var(--color-brand-dark-green);
  margin-top: var(--spacing-sm);
}

.price-currency-sign {
  font-size: var(--font-size-regular);
  margin-right: var(--spacing-xs);
}

.price-value {
  font-size: var(--font-size-h5);
  line-height: 1;
  font-weight: var(--font-weight-regular);
}

.price-suffix {
  font-size: var(--font-size-tiny);
  font-weight: 400;
  color: var(--color-neutral-dark);
}
