:root {
  /* Brand Colors */
  --color-brand-green: #4b8e69;
  --color-brand-medium-green: #35644a;
  --color-brand-dark-green: #2f3c35;
  --color-brand-light-green: #96deb6;

  /* Call-to-Action (CTA) Colors */
  --color-cta-orange: #d87c5a;
  --color-cta-orange-light: #ffd3c3;

  /* Neutral Colors */
  --color-neutral-font-dark: #171a1f;
  --color-neutral-black: #1c1c1c;
  --color-neutral-transparent: rgba(255, 255, 255, 0);
  --color-neutral-white: #fff;
  --color-neutral-lightest: #fdf9ef; /* Beige */
  --color-neutral-light-grey: #eae8e4;
  --color-neutral-medium-grey: #a8a6a1;
  --color-neutral-dark-grey: #5e5e5e;

  /* System Colors */
  --color-system-success: #cef5ca;

  /* --- Typography --- */

  /* Font Families */
  --font-primary: "Exo", sans-serif;
  --font-secondary: "Helvetica", sans-serif; /* Example */

  /* Font Sizes */
  --font-size-h1: 3.5rem;
  --font-size-h2: 2.5rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.5rem;
  --font-size-h5: 1.25rem;
  --font-size-h6: 1rem;
  --font-size-body-large: 1.125rem;
  --font-size-body-base: 1rem;
  --font-size-body-small: 0.875rem;

  /* Line Heights */
  --line-height-heading: 1.2;
  --line-height-body: 1.6;

  /* Spacing */
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
}

/* Global resets/base styles */
body {
  font-family: var(--font-sans);
  box-sizing: border-box;
  font-size: 1.125rem; /*18px*/
}

body.cs-open {
  overflow: hidden;
}

/* ------------------------- HEADERS ---------------------- */

h1 {
  font-size: 3rem; /*48px*/
  line-height: 1.2;
}

h2 {
  font-size: 1.25rem; /*20px*/
}

/* ------------------------- BUTTONS ---------------------- */
button {
  border: none;
  border-radius: 26px;
  font-family: var(--font-sans);
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.125rem; /*18px*/
  padding: 0.75rem 1.25rem;
}

button:not([class]) {
  border: solid 1px var(--secondary);
  background-color: white;
  color: var(--secondary);
}

.cta-button-orange {
  color: white;
  background-color: var(--primary);
}
.cta-button-green {
  color: white;
  background-color: var(--primary);
}

.cta-button-white {
  color: var(--secondary);
  background-color: white;
}

.cta-button-outline {
  color: var(--secondary);
  background-color: white;
  border: solid 1px var(--secondary);
}

/* ------------------------- BUTTONS ---------------------- */
li {
  text-decoration: none;
}

.cs-topper {
  font-size: var(--topperFontSize);
  line-height: 1.2em;
  text-transform: uppercase;
  text-align: inherit;
  letter-spacing: 0.1em;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 0.25rem;
  display: block;
}

.cs-title {
  font-size: var(--headerFontSize);
  font-weight: 900;
  line-height: 1.2em;
  text-align: inherit;
  max-width: 43.75rem;
  margin: 0 0 1rem 0;
  color: var(--headerColor);
  position: relative;
}

.cs-text {
  font-size: var(--bodyFontSize);
  line-height: 1.5em;
  text-align: inherit;
  width: 100%;
  max-width: 40.625rem;
  margin: 0;
  color: var(--bodyTextColor);
}
