:root {
  /* Brand Colors */
  --color-brand-green: #4b8e69;
  --color-brand-medium-green: #35644a;
  --color-brand-dark-green: #2f3c35;
  --color-brand-light-green: #96deb6;

  /* Call-to-Action (CTA) Colors */
  --color-cta-orange: #d87c5a;
  --color-cta-orange-light: #ffd3c3;

  /* Neutral Colors */
  --color-neutral-font-dark: #171a1f;
  --color-neutral-black: #1c1c1c;
  --color-neutral-transparent: rgba(255, 255, 255, 0);
  --color-neutral-white: #fff;
  --color-neutral-lightest: #fdf9ef; /* Beige */
  --color-neutral-light-grey: #eae8e4;
  --color-neutral-medium-grey: #a8a6a1;
  --color-neutral-dark-grey: #5e5e5e;

  /* System Colors */
  --color-system-success: #cef5ca;

  /* --- Typography --- */

  /* Font Families */
  --font-primary: "Inter", sans-serif;
  --font-header: "Bistream Iowa", sans-serif;

  /* Font Sizes */
  --font-size-h1: 3.5rem;
  --font-size-h2: 2.5rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.5rem;
  --font-size-h5: 1.25rem;
  --font-size-h6: 1rem;
  --font-size-body-large: 1.125rem;
  --font-size-body-base: 1rem;
  --font-size-body-small: 0.875rem;

  /* Line Heights */
  --line-height-header: 1.2;
  --line-height-body: 1.5;

  /**/
  --font-weight-regular: 400;
  --font-weight-semit-bold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.25rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;

  /* Border Radius*/
  --border-radius: 0.25rem;
}

/* ------------------------- GLOBAL RESETS/BASE STYLES ---------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-primary);
  box-sizing: border-box;
  font-size: var(--font-size-body-base); /*16px*/
  line-height: var(--line-height-body);
  color: var(--color-neutral-font-dark);
  background-color: var(--color-neutral-lightest);
}

body.cs-open {
  overflow: hidden;
}

/* ------------------------- HEADERS ---------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  line-height: var(--line-height-header);
}
h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-black);
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-bold);
}
h4 {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-bold);
}
h5 {
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-bold);
}
h6 {
  font-size: var(--font-size-h6);
  font-weight: var(--font-weight-bold);
}

/* ------------------------- LINKS ---------------------- */
a {
  text-decoration: none;
  color: inherit;
}
/* ------------------------- BUTTONS ---------------------- */
button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  border-radius: var(--border-radius);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-body);
  font-size: var(--font-size-body-base);
  padding: var(--spacing-sm) var(--spacing-lg);
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

button:not([class]) {
  border: solid 1px var(--color-neutral-font-dark);
  background-color: var(--color-neutral-lightest);
  color: var(--color-neutral-font-dark);
}

.button-orange {
  background-color: var(--color-cta-orange);
  color: var(--color-neutral-white);
}

.button-green {
  background-color: var(--color-brand-medium-green);
  color: var(--color-neutral-white);
}

.button-transparent {
  background-color: var(--color-neutral-transparent);
  color: var(--color-neutral-white);
  border: 2px solid var(--color-neutral-white);
}

.button-small {
  padding: var(--spacing-xs) var(--spacing-md);
}

/* ------------------------- BUTTONS ---------------------- */
li {
  text-decoration: none;
}

.cs-topper {
  font-size: var(--topperFontSize);
  line-height: 1.2em;
  text-transform: uppercase;
  text-align: inherit;
  letter-spacing: 0.1em;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 0.25rem;
  display: block;
}

.cs-title {
  font-size: var(--headerFontSize);
  font-weight: 900;
  line-height: 1.2em;
  text-align: inherit;
  max-width: 43.75rem;
  margin: 0 0 1rem 0;
  color: var(--headerColor);
  position: relative;
}

.cs-text {
  font-size: var(--bodyFontSize);
  line-height: 1.5em;
  text-align: inherit;
  width: 100%;
  max-width: 40.625rem;
  margin: 0;
  color: var(--bodyTextColor);
}
