@media only screen and (max-width: 63.9375rem) {
  .cs-toggle {
    width: 6rem;
    height: 6.5rem;
    margin: 0 0 0 auto;
    border-radius: var(--border-radius);
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cs-active .cs-line1 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(225deg);
  }

  .cs-active .cs-line2 {
    top: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
  }

  .cs-active .cs-line3 {
    bottom: 100%;
    opacity: 0;
  }

  .cs-box {
    width: clamp(1.5rem, 2vw, 1.75rem);
    height: clamp(0.875rem, 1.5vw, 1rem);
    position: relative;
  }

  .cs-line {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: var(--color-neutral-medium-grey);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .cs-line1 {
    top: 0;
    transform-origin: center;
    transition:
      transform 0.5s,
      top 0.3s,
      left 0.3s;
  }

  .cs-line2 {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition:
      top 0.3s,
      left 0.3s,
      transform 0.5s;
  }

  .cs-line3 {
    bottom: 0;
    transition:
      bottom 0.3s,
      opacity 0.3s;
  }
}
@media only screen and (min-width: 64rem) {
  .cs-toggle {
    display: none;
  }
}
